body {
  background-color: #ffeaa7;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
  transform: rotate(4deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #fdcb6e;
  width: 250px;
  margin: 40px 0 50px 0;
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container {
  background-color: rgb(211, 211, 211);
  width: 500px;
  min-height: 500px;
  margin: 80px auto;
  border-radius: 15px;
}

.TodoApp input {
  background-color: transparent;
  border: solid 3px transparent;
  border-bottom: dashed 3px white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 20px;
  width: 50%;
}

::placeholder {
  color: black;
  font-size: 12px;
  font-weight: bold;
}

button {
  padding: 7px;
  margin: 15px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #fff8dc;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.output {
  margin: 10px;
}
.output button {
  margin: 5px;
}

ul {
  list-style-type: none;
}

ul li {
  padding-bottom: 20px;
  font-size: 20px;
}

.item-btn {
  float: right;
}
